# Controlando Archivos Excel con Pandas

### Leyendo el documento Excel

#### Importando pandas y numpy, obteniendo el excel y nombre hojas

In [12]:
import pandas as pd
import numpy as np
datos_xls = pd.ExcelFile('address.xlsx') #Obteniendo el archivo
sheet_names = datos_xls.sheet_names
print(sheet_names)
print(datos_xls)

['Sheet1', 'Sheet2', 'Sheet3']
<pandas.io.excel.ExcelFile object at 0x000001DB0C1E08D0>

#### Obteniendo hoja completa - dataframe

In [13]:
hoja = datos_xls.parse(sheet_names[0])
print(hoja)
print(type(hoja))

         Last   First                 Address         City State    ZIP
0      Buffet   Jimmy  Somewhere on the Beach     Key West    FL  33040
1        Bush  George   1600 Pennsylvania Ave   Washington    DC  20500
2     Cartman    Eric         84 Bigboned Way   South Park    CO  84214
3    Crockett   Davey               The Alamo  San Antonio    TX  78210
4         Doe    Jane        821 Zimbabwe Ave   Washington    DC  20021
5       Gates    Bill         1 Microsoft Way      Redmond    WA  98052
6   Jefferson  George   194 Deelux Apartments   In the Sky    NY  10041
7        Kong    King   Empire State Building     New York    NY  10118
8     Munster  Herman   1313 Mockingbird Lane        Fargo    ND  58102
9      Rockne   Knute         146 Keenan Hall   Notre Dame    IN  46556
10    Simpson   Homer   742 Evergreen Terrace  Springfield    US  12345
11      Smith     Bob          12 Main Street      Anytown    IN  46001
<class 'pandas.core.frame.DataFrame'>

<img src="Captura_address.PNG"/>

#### obteniendo una columna

In [14]:
primer_fila = hoja.iloc[:,1]
primer_fila2 = primer_fila.copy();
print(primer_fila)
print(type(primer_fila))
print(primer_fila2)
print(type(primer_fila2))

0      Jimmy
1     George
2       Eric
3      Davey
4       Jane
5       Bill
6     George
7       King
8     Herman
9      Knute
10     Homer
11       Bob
Name: First, dtype: object
<class 'pandas.core.series.Series'>
0      Jimmy
1     George
2       Eric
3      Davey
4       Jane
5       Bill
6     George
7       King
8     Herman
9      Knute
10     Homer
11       Bob
Name: First, dtype: object
<class 'pandas.core.series.Series'>

In [16]:
fila = np.array(primer_fila)
print(fila)
print(type(fila))

['Jimmy' 'George' 'Eric' 'Davey' 'Jane' 'Bill' 'George' 'King' 'Herman'
 'Knute' 'Homer' 'Bob']
<class 'numpy.ndarray'>